<div class="row">
  <div class="col-3">
    <div class="sticky-top">
      <div class="list-group">
        <a
          *ngFor="let c of commandLineCommands"
          class="list-group-item list-group-item-action"
          [class.active]="category === c.id"
          (click)="onClick(c.id)"
        >
          {{ c.id }}. {{ c.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row" *ngIf="category == 'g'">
        <form [formGroup]="searchForm" class="form-inline mb-5">
          <div class="form-group mx-2">
            <input
              type="text"
              class="form-control"
              placeholder="Test Name"
              formControlName="testName"
            />
          </div>
          <div class="form-group mx-2">
            <select class="form-control" formControlName="filterType">
              <option *ngFor="let item of filterTypes" value="{{ item.id }}">{{
                item.name
              }}</option>
            </select>
          </div>
          <button class="btn btn-dark mx-2" (click)="searchBy()">Search</button>
        </form>
      </div>
    <app-global-table
      *ngIf="['g', 'h', 'i'].indexOf(category) > -1; else generalCommand"
      [globalItemsList]="UnitTestResultList"
      [columns]="columns"
      [title]=""
    ></app-global-table>

    <ng-template #generalCommand>
      Command Executed With these arguments<br />
      {{ UnitTestResultList?.join(", ") }}
    </ng-template>
  </div>
</div>
